{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %} 
{% if articles %}
{% for article in articles %}        
<div class="blogItem">
    <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
    <h3>
        Posted on {{ article.locale_date }} by
        <a href="{{ SITEURL }}/{{ article.author.url }}">
                {{ article.author }}
        </a>
    </h3>
    {{ article.content }}   
    <h3>Posted in 
    {% for tag in article.tags %}
    <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a> 
    {% endfor %}
    | Comments disabled
    </h3>
</div>
<!-- end #blogItem -->
{% endfor %}
{% else %}
       
{% endif %}
{% endblock content %}
